* {
    box-sizing: border-box;
    font-family:'Maven Pro', sans-serif;
}

body {
    background-color: #cfdeff;
    display: flex;
    height: 95vh;
}

.main_container {
    text-align: center;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 10px 30px;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main_title{
    text-align: justify;
    font-size: 40px;
}

.img_container {
    display: flex;
    margin: auto;
    height: 150px;
}

.text_explanation {
    font-size: 14px;
}

.button_cashregister {
    padding: 8px 12px;
    margin-bottom: 17px;
    background-color: #ffbf00;
    border: none;
    border-radius: 5px;
}

.button_cashregister:hover, .button_calculate:hover {
    font-weight: 500;
    cursor: pointer;
    color:white;
    background-color: #ff6c34;
}

.hidden_content {
    display: none;
}

.money_container {
    display: flex;
    padding: 0px 10px;
    margin-bottom: 5px;
}

.input_container_cashregister {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.input_container_money {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 0px 10px;
}

.input_container {
    background-color: #e1e6f1;
    border-radius: 10px;
    padding: 17px;
}

.input_container_box {
    display: flex;
    margin-bottom: 17px;
}

.input_container_box > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
}

.input_name {
    font-size: 14px;
    text-align: left;
    text-align: center;
}

.input_number {
    height: 30px;
    width: 80px;
    margin-top: 5px;
    padding: 0px 5px 0px 8px;
}

.button_calculate {
    padding: 8px 12px;
    color: white;
    background-color: #0a214b;
    border: none;
    border-radius: 5px;
}
